.live-ratio {
  display: inline-block;
  margin-left: 10%;
  font-size: 1.5em;
  vertical-align: middle;
}
.live-ratio-values {
  margin-left: 10px;
  margin-right: 10px;
}
.live-ratio i.fa {
  font-size: 25px;
  color: #f49600;
}
.live-ratio-global-avg {
  font-size: .35em;
  font-style: italic;
  margin-left: 10px;
  opacity: 0.5;
}