.fp-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fp-one {
  background-image: url(//theworldslesson.maps.arcgis.com/sharing/rest/content/items/c3c997c7e8ed4e188147c62dfdbc2897/data);
}

.fp-two {
  background-image: url(//theworldslesson.maps.arcgis.com/sharing/rest/content/items/58725b7391914c90a19d92988013e8c8/data);
}

.fp-three {
  background-image: url(//theworldslesson.maps.arcgis.com/sharing/rest/content/items/c3a124eb569e4b3b9079bd847e5dc982/data);
}

.fp-four {
  background-image: url(//theworldslesson.maps.arcgis.com/sharing/rest/content/items/c7e6ac7a55704c3fa53a079da7841d1a/data);
}

.fp-five {
  background-image: url(//theworldslesson.maps.arcgis.com/sharing/rest/content/items/b19223ad2525469cb33b065ecfc49e8d/data);
}

.fp-selector input:active +.score-fp {
  // opacity: .9;
}

.fp-selector input:checked +.score-fp {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  opacity: 1;
}

.score-fp-holder {
  display: inline;
  cursor: pointer;
}

.score-fp {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 55px;
  height: 50px;
  opacity: 0.25;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  // -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  // -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  // filter: brightness(1.8) grayscale(1) opacity(.7);
}

.score-fp:hover {
  // -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  // -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  // filter: brightness(1.2) grayscale(.5) opacity(.9);
  opacity: 1;
}
